.most-searched-container{
    min-width: 300px;
    width: 80%;
}
.card-container{
    width: 100%;
    overflow: hidden;
    min-width: 250px;
}

.card{
    display: flex;
    flex-direction: column;
    max-height: 700px;
    margin-bottom: 2rem;
    background-color: #e3e1dc8a;
    border-radius: 0 2rem 0 2rem;
    padding: 2rem 1rem;
}

.card__header h3{
    color: var(--color-primary);
    text-align: center;
}

.card__img{
    width: 100%;
    display: flex;
    justify-content: center;
}

.card__img img{
    width: 170px;
    height: 170px;
    object-fit: cover;
    border-radius: 2rem;
}

.card__text p {
    text-align: center;
    margin-top: 2rem;
    font-size: .9rem;
}