
<section class="container">
    <div class="popular">
        <p class="popular__text">Razas mas buscadas</p>
        <h2 class="popular__title"> 66+ razas para descubrir</h2>
        <div class="popular__gallery">
            <div class="popular__card">
                <img class="popular__img" src="https://cdn2.thecatapi.com/images/0XYvRd7oD.jpg" alt="">
                <p class="popular__description"> Bengala</p>
            </div>
            <div class="popular__card">
                <img class="popular__img" src="https://cdn2.thecatapi.com/images/0XYvRd7oD.jpg" alt="">
                <p class="popular__description"> Bengala</p>
            </div>
            <div class="popular__card">
                <img class="popular__img" src="https://cdn2.thecatapi.com/images/0XYvRd7oD.jpg" alt="">
                <p class="popular__description"> Bengala</p>
            </div>
            <div class="popular__card">
                <img class="popular__img" src="https://cdn2.thecatapi.com/images/0XYvRd7oD.jpg" alt="">
                <p class="popular__description"> Bengala</p>
            </div>
        </div>
    </div>
</section>