<section class="container why__container">
    <div class="why">
        <span class="why__bar"></span>
        <h2 class="why__title">Por que deberías tener un gato?</h2>
        <p class="why__paragraph">Tener un gato a tu alrededor puede provocar la liberación de sustancias químicas calmantes en tu cuerpo que reducen tus niveles de estrés y ansiedad</p>
        <div class="why__readMore">
            <p >Saber mas</p>
            <span class="material-symbols-outlined">arrow_right_alt</span>
        </div>
    </div>
    <div class="why__gallery">

        <div class="why__img1">
            <img src="../../../assets/image1.png" class="why__img" alt="" >
        </div>
        <div class="why__img2">
            <img src="../../../assets/image2.png" class="why__img" alt="" >
        </div>
        <div class="why__img3">
            <img src="../../../assets/image3.png" class="why__img" alt="" >
        </div>
        
    </div>
</section>