<app-nav></app-nav>
<section class="container detail-conteiner">
    <div class="detail__info">
        <h1 class="global__title">
            Bengala
        </h1>
        <p class="detail__paragraph">
            The Abyssinian is easy to care for, and a joy to have in your home. They’re affectionate cats and love both people and other animals.
        </p>
        <div class="detail__aptitude">
            <p class="detail__aptitude__title">Temperamento: </p>
            <p class="detail__aptitude__description">Active, Energetic, Independent, Intelligent, Gentle</p>
        </div>
        <div class="detail__aptitude">
            <p class="detail__aptitude__title">Adaptabilidad: </p>
            <div class="detail__grade grade--2">
                <div class="grade__item"></div>
                <div class="grade__item"></div>
                <div class="grade__item"></div>
                <div class="grade__item"></div>
                <div class="grade__item"></div>
            </div>
        </div>
        <div class="detail__aptitude">
            <p class="detail__aptitude__title">Adaptabilidad: </p>
            <div class="detail__grade grade--1">
                <div class="grade__item"></div>
                <div class="grade__item"></div>
                <div class="grade__item"></div>
                <div class="grade__item"></div>
                <div class="grade__item"></div>
            </div>
        </div>
    </div>
</section>

<app-footer></app-footer>
