.container-footer{
    background-color: black;
    border-radius: 42px 42px 0 0;
    border: 1px solid transparent;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    min-height: 150px;
    margin-top: 1.5rem;
    width: 90%;
    min-width: 300px;
}

.footer__logo img{
    filter: brightness(0) invert(1);
    width: 40%;
}

.footer__text{
    color: #FFFFFF;
    font-size: 12px;
    padding: 1px;
    border: 1px solid transparent;
    margin: 0;
}

.w-90{
    width: 90%;
    margin: auto;
}

a{
    color: #FFFFFF;
    text-decoration: none;
}